#root {
  height: 95%;
}

#image-upload {
  display: none;
}

#header-avatar {
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 50%;
}

.main-container {
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
}

.header-container {
  margin-top: 10px;
  height: 20%;
}

.messages-container {
  height: 70%;
  position: relative;
  overflow: auto;
}

.ui.comments {
  max-width: none !important;
}

.ui.form .field {
  margin: 0 0 2px !important;
}

.editor {
  display: none;
}

.editor.open {
  display: inline;
}

.message-input {
  width: 80%;
}

.send-container {
  margin-top: 5px;
  text-align: center;
}
